BigStoreNH1.0.0.3/BigStor/UnitTestDoDesign/Service References/DoDesignWS/Transaccion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BigStor.DoDesingWS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BigStor.DoDesingWS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="IdPedido" type="xs:int" />
      <xs:element minOccurs="0" name="NroTargeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pago" nillable="true" type="tns:Pago" />
      <xs:element minOccurs="0" name="Polo" nillable="true" type="tns:Polo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroTargeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Pago">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPago" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pago" nillable="true" type="tns:Pago" />
  <xs:complexType name="Polo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="tns:Color" />
      <xs:element minOccurs="0" name="Design" nillable="true" type="tns:Desing" />
      <xs:element minOccurs="0" name="IdPolo" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="Talla" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Polo" nillable="true" type="tns:Polo" />
  <xs:complexType name="Color">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdColor" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Color" nillable="true" type="tns:Color" />
  <xs:complexType name="Desing">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDesign" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Desing" nillable="true" type="tns:Desing" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
</xs:schema>