BigStoreNH1.0.0.3/BigStor/UnitTestDoDesign/Service References/DoDesignWS/Transaccion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1076/Transaccion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BigStor.DoDesingWS.Model" />
  <xs:element name="LoginCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BigStor.DoDesingWS.Model" minOccurs="0" name="pedido" nillable="true" type="q1:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearPedidoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPedido">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BigStor.DoDesingWS.Model" minOccurs="0" name="ListarPedidoResult" nillable="true" type="q2:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BigStor.DoDesingWS.Model" minOccurs="0" name="obtenerClienteResult" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>